In [6]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('lahman.sqlite')

query = "SELECT * FROM sqlite_master;"

df_schema = pd.read_sql_query(query, conn)

df_schema.tbl_name.unique()

array(['allstarfull', 'appearances', 'awardsmanagers', 'awardsplayers',
       'awardssharemanagers', 'awardsshareplayers', 'batting',
       'battingpost', 'collegeplaying', 'divisions', 'fielding',
       'fieldingof', 'fieldingofsplit', 'fieldingpost', 'halloffame',
       'homegames', 'leagues', 'managers', 'managershalf', 'parks',
       'people', 'pitching', 'pitchingpost', 'salaries', 'schools',
       'seriespost', 'teams', 'teamsfranchises', 'teamshalf'],
      dtype=object)

In [8]:
# What was the total spent on salaries by each team, each year?

select teamID
    ,yearID
    ,sum(salary)
from salaries s
group by 1,2

SyntaxError: invalid syntax (<ipython-input-8-45505590a1f1>, line 3)

In [7]:
# What is the first and last year played for each player? Hint: Create a new table from 'Fielding.csv'.
create table first_and_last_year (
    name string
    , first_year int
    , last_year int
);
insert into first_and_last_year (name, first_year, last_year)
select nameFirst || ' ' || nameLast as name
    , strftime('%Y',debut) as first_year
    , strftime('%Y',finalgame) as last_year
from people s

SyntaxError: invalid syntax (<ipython-input-7-83c6c53772b6>, line 3)

In [5]:
# Who has played the most all star games?

select nameFirst || ' ' || nameLast as name
    ,count(*) as cnt
from allstarfull a
    left join people p
        using(playerID)
order by cnt desc
limit 1

SyntaxError: invalid syntax (<ipython-input-5-ae11cb8a8ebf>, line 3)

In [ ]:
# Which school has generated the most distinct players? Hint: Create new table from 'CollegePlaying.csv'.

WITH colleges AS
(SELECT playerID, schoolID, yearID
FROM (
SELECT * , ROW_NUMBER()
OVER (PARTITION BY playerID ORDER BY yearID DESC) rn
FROM collegeplaying)
WHERE rn =1
)
SELECT schoolID,
ROW_NUMBER() OVER (PARTITION BY schoolID ORDER BY yearID) AS num_players
FROM colleges
ORDER BY num_players DESC;

In [ ]:
# Which players have the longest career? Assume that the debut and finalGame columns comprise 
# the start and end, respectively, of a player's career. Hint: Create a new table from 'Master.csv'. 
# Also note that strings can be converted to dates using the DATE function and can then be subtracted 
# from each other yielding their difference in days.

SELECT
playerID, debut, finalGame,
(DATE(finalGame) - DATE(debut)) AS 'Career'
FROM people
ORDER BY Career DESC ;

In [ ]:
# What is the distribution of debut months? Hint: Look at the DATE and EXTRACT functions.

SELECT
strftime('%m', debut) AS 'Debut_Month',
COUNT(* )
FROM people
GROUP BY Debut_Month
;

In [ ]:
# What is the effect of table join order on mean salary for the players listed in the 
# main (master) table? Hint: Perform two different queries, one that joins on playerID 
# in the salary table and other that joins on the same column in the master table. 
# You will have to use left joins for each since right joins are not currently supported with SQLalchemy.